.content {
  grid-area: c;
  background-color: blueviolet;

  img {
    width: 80vw;
  }

  // &__kek {
  //   font-size: 75px;
  // }

  // div:nth-of-type(1) {
  //   font-size: 50px;
  // }
}

// .petyh {
//   font-size: 50px;
// }
